/* ---- Dialogs ------------------------------------------------------------------------------------------------------------- */

/* ToDo: Review forms structure and recomplile*/


/* Default Font settings for dialogs */
.mwInput,
.mwDialog,
.mwDialog TEXTAREA,
.mwDialog SELECT,
.mwDialog INPUT {

	font-family		: mwCustom_light, Arial, Veranda, Helvetica, sans-serif;

	font-size		: 14px;

	font-weight		: normal;

/*	color			: #636363; */
	color			: #444444;
}

.mwInput.Code,
.mwInput.Code TEXTAREA,
.mwInput.Code SELECT,
.mwInput.Code INPUT
{
	font-family		: Consolas, Lucida Console, Courier New, Verdana, Arial;
}

/* ---- LAYOUT -------------------------------------------------------------------------------------------------------------- */


/*
	Dialog supports 3 layouts
	TABLE.mwDialog.tall > TR>TH + TR>TD as tall table dialog
	TABLE.mwDialog.wide > TR>TH+TD as wide table dialog
	DL.mwDialog > DT > DD as simplified tall dialogs

*/

.mwDialog FORM>TABLE,
.mwDialog>TABLE,
TABLE.mwDialog {
	width			: 100%;
	border-collapse		: collapse;
}

.mwDialog FORM>TABLE.two-column,
.mwDialog>TABLE.two-column,
TABLE.mwDialog.two-column { 
	width			: 50%;
	float			: left;
}

.mwDialog FORM>DL,
.mwDialog>DL,
DL.mwDialog {
	margin			: 0px;
}


.mwDialog DT,
.mwDialog DD {
	margin			: 0px;
	clear			: both;
}

.mwDialog TR {
	padding			: 0px;
	margin			: 0px;
	
	border			: none;
	border-spacing		: 0px;
}

.mwDialog DT,
.mwDialog TH,
.mwDialog DD.Text,
.mwDialog TD.Text, 
.mwDialog .Label

{
	padding			: 4px 10px 4px 5px;
	margin			: 0px;

	height			: 28px;
	line-height		: 28px;
}


.mwDialog DT,
.mwDialog TH,
.mwDialog .Label,
.mwDialog label
{
	text-align		: right;
	vertical-align		: top;
	white-space		: normal;
	
	border			: none;
	border-spacing		: 0px;

	color			: #444444;

	font-family		: mwCustom_normal, Arial, Veranda, Helvetica, sans-serif;
	font-weight		: normal;
	
	clear			: both;
}

.mwDialog TH {
/*	Need to envestigate - sometimes it gets too small without, sometimes it's not enough */
/*	Ex1: Uneven columns distribution in services dialogs with min-width, or without width at all. Setting width */
/*	Ex2: On single tables with some labels longer than others - results in 2 line labels  */
	width			: 40%; 
}

.mwDialog.freecolumns TH {
	width			: auto; 
}

.mwDialog DT,
.mwDialog DT .Label,
.mwDialog.tall TH,
.mwDialog .tall TH,
.mwDialog.Tall TH,
.mwDialog .Tall TH {
	width			: auto;
	text-align		: left;
	padding			: 5px 10px 0px 10px;
}

.mwDialog .subLabel {
	padding			: 0px 5px 0px 10px;	
}

.mwDialog DD,
.mwDialog TD {
	text-align		: left;
	
	padding			: 0px;
	margin			: 0px;
	
	border			: none;
	border-spacing		: 0px;

	vertical-align		: top;
}

/* Wide dt */

.mwDialog.wide dt,
.mwDialog.wide label,
.mwDialog.wide .label {
	clear			: both;
	float			: left;

	padding			: 4px 10px;
	margin			: 0px;
	height			: 28px;
	line-height		: 28px;

	text-align		: right;
}

.mwDialog.wide dt
{
	width			: calc(40% - 20px); 
}

.mwDialog.wide dd {
	clear			: none;
	float			: right;
	width			: 60%;

	padding			: 0px;	
	margin			: 0px;
/*	min-height		: 28px; */
	line-height		: 28px;
}

/* ---- Label Cells ---- */

.mwDialog.tall dt label
{
	box-sizing		: border-box !important;
	text-align		: left;
	padding			: 0px 10px 0px 12px;
/*/
	padding			: 0px 10px 0px 5px;
/**/
}

.mwDialog.tall dt label:first-child
{
	padding-left		: 0px;
}

.mwDialog.tall dt label:last-child
{
	padding-right		: 0px;
}

/* ---- Inputs cells ---- */

/* Used for easy layout of several inputs within one row */
/* Speciefic implementation of morweb common cells css, adapted to inputs styles */
/* Little too much copypaste, but very handy to use on templates */

.mwInput.cell { float : left; }
.mwInput.cell-5 { float : left; width : calc(5% - 16px) !important; }
.mwInput.cell-10 { float : left; width : calc(10% - 16px) !important; }
.mwInput.cell-15 { float : left; width : calc(15% - 16px) !important; }
.mwInput.cell-20 { float : left; width : calc(20% - 16px) !important; }
.mwInput.cell-25 { float : left; width : calc(25% - 16px) !important; }
.mwInput.cell-30 { float : left; width : calc(30% - 16px) !important; }
.mwInput.cell-35 { float : left; width : calc(35% - 16px) !important; }
.mwInput.cell-40 { float : left; width : calc(40% - 16px) !important; }
.mwInput.cell-45 { float : left; width : calc(45% - 16px) !important; }
.mwInput.cell-50 { float : left; width : calc(50% - 16px) !important; }
.mwInput.cell-55 { float : left; width : calc(55% - 16px) !important; }
.mwInput.cell-60 { float : left; width : calc(60% - 16px) !important; }
.mwInput.cell-65 { float : left; width : calc(65% - 16px) !important; }
.mwInput.cell-70 { float : left; width : calc(70% - 16px) !important; }
.mwInput.cell-75 { float : left; width : calc(75% - 16px) !important; }
.mwInput.cell-80 { float : left; width : calc(80% - 16px) !important; }
.mwInput.cell-85 { float : left; width : calc(85% - 16px) !important; }
.mwInput.cell-90 { float : left; width : calc(90% - 16px) !important; }
.mwInput.cell-95 { float : left; width : calc(95% - 16px) !important; }
.mwInput.cell-100 { float : left; width : calc(100% - 16px) !important; }
.mwInput.cell-33 { float : left; width : calc(33.33% - 16px) !important; }
.mwInput.cell-66 { float : left; width : calc(66.66% - 16px) !important; }

.mwInput.cell-even {
	float : left;
}

.mwInput.cell-even:first-child:nth-last-child(1),
.mwInput.cell-even:first-child:nth-last-child(1) ~ .cell-even
{ clear:none !important; float : left; width : calc(100% - 16px) !important; }
.mwInput.cell-even:first-child:nth-last-child(2),
.mwInput.cell-even:first-child:nth-last-child(2) ~ .cell-even
{ clear:none !important; float : left; width : calc(50% - 16px) !important; }
.mwInput.cell-even:first-child:nth-last-child(3),
.mwInput.cell-even:first-child:nth-last-child(3) ~ .cell-even
{ clear:none !important; float : left; width : calc(33.33% - 16px) !important; }
.mwInput.cell-even:first-child:nth-last-child(4),
.mwInput.cell-even:first-child:nth-last-child(4) ~ .cell-even
{ clear:none !important; float : left; width : calc(25% - 16px) !important; }
.mwInput.cell-even:first-child:nth-last-child(5),
.mwInput.cell-even:first-child:nth-last-child(5) ~ .cell-even
{ clear:none !important; float : left; width : calc(20% - 16px) !important; }
.mwInput.cell-even:first-child:nth-last-child(6),
.mwInput.cell-even:first-child:nth-last-child(6) ~ .cell-even
{ clear:none !important; float : left; width : calc(16.66% - 16px) !important; }
.mwInput.cell-even:first-child:nth-last-child(7),
.mwInput.cell-even:first-child:nth-last-child(7) ~ .cell-even
{ clear:none !important; float : left; width : calc(14.28% - 16px) !important; }
.mwInput.cell-even:first-child:nth-last-child(8),
.mwInput.cell-even:first-child:nth-last-child(8) ~ .cell-even
{ clear:none !important; float : left; width : calc(12.5% - 16px) !important; }
.mwInput.cell-even:first-child:nth-last-child(9),
.mwInput.cell-even:first-child:nth-last-child(9) ~ .cell-even
{ clear:none !important; float : left; width : calc(11.11% - 16px) !important; }
.mwInput.cell-even:first-child:nth-last-child(10),
.mwInput.cell-even:first-child:nth-last-child(10) ~ .cell-even
{ clear:none !important; float : left; width : calc(10% - 16px) !important; }

/* ---- INPUTS ---- */

/* COMMON */

/* 1 Line inputs heights */

.mwInput.Text,
.mwInput.Text INPUT[type="text"],
.mwInput.Text INPUT[type="search"],
.mwInput.Text INPUT[type="password"],
.mwInput.Text INPUT[type="email"],
.mwInput.Text INPUT[type="date"],
.mwInput.Text INPUT[type="number"],
.mwInput.Text INPUT[type="tel"],
.mwInput.Text INPUT[type="url"],
.mwInput.Checkbox,
.mwInput.Select,
.mwInput.Button,
.mwInput.File {
	height			: 28px;
}

.mwInput .SubControl,
.mwInput.Text INPUT[type="text"],
.mwInput.Text INPUT[type="search"],
.mwInput.Text INPUT[type="password"],
.mwInput.Text INPUT[type="email"],
.mwInput.Text INPUT[type="date"],
.mwInput.Text INPUT[type="number"],
.mwInput.Text INPUT[type="tel"],
.mwInput.Text INPUT[type="url"],
.mwInput.Checkbox DIV,
.mwInput.Select DIV,
.mwInput.Button,
.mwInput.Button INPUT[type="button"],
.mwInput.Button INPUT[type="submit"],
.mwInput.File .FileName {
	line-height		: 28px;
}

/* GENERAL INPUT */

.mwInput {
	position		: relative;

	padding			: 0px 5px;

	border			: 1px solid #828282;
	
	margin			: 3px 2px;

	background		: #F9F9F9; 
	background		: -moz-linear-gradient(top, #EAEAEA 0%, #F9F9F9 100%);
	background		: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#EAEAEA), color-stop(100%,#F9F9F9)); 
	background		: -webkit-linear-gradient(top, #EAEAEA 0%,#F9F9F9 100%);
	background		: -o-linear-gradient(top, #EAEAEA 0%,#F9F9F9 100%); 
	background		: -ms-linear-gradient(top, #EAEAEA 0%,#F9F9F9 100%);
	filter			: progid:DXImageTransform.Microsoft.gradient( startColorstr='#EAEAEA', endColorstr='#F9F9F9',GradientType=0 ); 
	background		: linear-gradient(top, #EAEAEA 0%,#F9F9F9 100%); 

	border-radius		: 3px; 


}

.mwInput.outset {
	background		: #f9f9f9;
	background		: -moz-linear-gradient(top,  #f9f9f9 0%, #eaeaea 100%);
	background		: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(100%,#eaeaea));
	background		: -webkit-linear-gradient(top,  #f9f9f9 0%,#eaeaea 100%);
	background		: -o-linear-gradient(top,  #f9f9f9 0%,#eaeaea 100%);
	background		: -ms-linear-gradient(top,  #f9f9f9 0%,#eaeaea 100%);
	background		: linear-gradient(to bottom,  #f9f9f9 0%,#eaeaea 100%);
	filter			: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#eaeaea',GradientType=0 );

}


.mwInput.Hover,
.mwInput.Focus {
	background		: #EDEDED;
	background		: -moz-linear-gradient(top, #EDEDED 0%, #FFFFFF 100%); 
	background		: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#EDEDED), color-stop(100%,#FFFFFF)); 
	background		: -webkit-linear-gradient(top, #EDEDED 0%,#FFFFFF 100%); 
	background		: -o-linear-gradient(top, #EDEDED 0%,#FFFFFF 100%);
	background		: -ms-linear-gradient(top, #EDEDED 0%,#FFFFFF 100%);
	filter			: progid:DXImageTransform.Microsoft.gradient( startColorstr='#EDEDED', endColorstr='#FFFFFF',GradientType=0 ); 
	background		: linear-gradient(top, #EDEDED 0%,#FFFFFF 100%);
/**/
}

.mwInput.Focus {
	border			: 1px #72AF8E solid;
	
	
}

.mwInput.error {
	border			: 1px solid red;
	
	background		: #E8E1E1;
	background		: -moz-linear-gradient(top,  #E8E1E1 0%, #FFFFFF 100%);
	background		: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#E8E1E1), color-stop(100%,#FFFFFF));
	background		: -webkit-linear-gradient(top,  #E8E1E1 0%,#FFFFFF 100%);
	background		: -o-linear-gradient(top,  #E8E1E1 0%,#FFFFFF 100%);
	background		: -ms-linear-gradient(top,  #E8E1E1 0%,#FFFFFF 100%);
	background		: linear-gradient(top,  #E8E1E1 0%,#FFFFFF 100%);
	filter			: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E8E1E1', endColorstr='#FFFFFF',GradientType=0 );

	
}

.mwInput.Disabled,
.mwInput.Disabled *,
.mwInput [disabled]
{
	color			: silver !important;	
}

.mwInput.Inline {
	display			: inline-block !important; 
}

.mwInput.full {
	display			: block; 
}

.mwInput.Block {
	display			: block !important; 
}

.mwInput.Pointer,
.mwInput.Pointer * {
	cursor			: pointer; 
}

.mwInput.flat {
	border			: none;
	margin			: 0px;
}

/* Defining here for code completion feature, or mb some additional styling */
.mwInput.defaultInput {
	
}

/* SUBCONTROL */

.mwInput .SubControl {
	position		: absolute;

	right			: 0px;
	top			: 0px;

	width			: 28px;

	height			: 100%;
	padding			: 0px;	
	text-align		: center;

	cursor			: pointer;
/*/
	border-left		: 1px #828282 solid; 
/**/ 	
}

.mwInput .SubControl>DIV {
	background		: center no-repeat transparent;
	width			: 100%;
	height			: 100%;
}

.mwInput .SubControl.Hi {
	background		: #10934b; /* Old browsers */
	background		: -moz-linear-gradient(top, #10934b 0%, #16cc68 100%); /* FF3.6+ */
	background		: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#10934b), color-stop(100%,#16cc68)); /* Chrome,Safari4+ */
	background		: -webkit-linear-gradient(top, #10934b 0%,#16cc68 100%); /* Chrome10+,Safari5.1+ */
	background		: -o-linear-gradient(top, #10934b 0%,#16cc68 100%); /* Opera11.10+ */
	background		: -ms-linear-gradient(top, #10934b 0%,#16cc68 100%); /* IE10+ */
	filter			: progid:DXImageTransform.Microsoft.gradient( startColorstr='#10934b', endColorstr='#16cc68',GradientType=0 ); /* IE6-9 */
	background		: linear-gradient(top, #10934b 0%,#16cc68 100%); /* W3C */

	border-left		: 1px #72AF8E solid;

	color			: white;
	text-shadow		: 0px 0px 2px white;
/*/	
	box-shadow		: 1px 1px 5px rgba(0, 0, 0, 0.5) inset;
/**/
} 

/* OVERRIDE HTML */

.mwInput TEXTAREA,
.mwInput SELECT,
.mwInput INPUT[type="file"],
.mwInput INPUT[type="text"],
.mwInput INPUT[type="search"],
.mwInput INPUT[type="password"],
.mwInput INPUT[type="email"],
.mwInput INPUT[type="date"],
.mwInput INPUT[type="number"],
.mwInput INPUT[type="tel"],
.mwInput INPUT[type="url"],
.mwInput INPUT[type="button"],
.mwInput INPUT[type="submit"],
.mwInput .Value {
	border			: none;
	background-color	: transparent;
	
	width			: 100%;
	
	padding			: 0px;
	margin			: 0px;
} 

/* Making hidden inputs to fit parent control, and overflow other elements */
.mwHiddenInput,
.mwInput .Hidden,
.mwInput INPUT[type="checkbox"],
.mwInput INPUT[type="radio"],
.mwInput INPUT[type="file"] {
	position		: absolute;
	top			: 0px;
	left			: 0px;
	
	padding			: 0px;
	margin			: 0px;
	
	height			: 100%;
	width			: 100%;

	cursor			: pointer;
/*/

	outline			: 1px black solid;	
	
/*/
	opacity			: 0;
	filter			: alpha(opacity=0);
	-moz-opacity		: 0;
/**/
	
}

INPUT.mwHiddenInput[type=file],
.mwInput.File INPUT[type=file] {
/*/	font-size		: 33px; /**/
} 


/* TEXT */

.mwInput.Text.wSub {
	padding-right		: 33px;
}

.mwInput.Text.Plus .SubControl>DIV {
	background-image	: url('../../cms2t/res/images/forms/plus4.png');
}

.mwInput.Text.Go .SubControl>DIV {
	background-image	: url('../../cms2t/res/images/forms/Checked.png');
}

/* CHECKBOX */

.mwInput.Checkbox {
/*	overflow		: hidden; */
	display			: inline-block; 
/*	margin			: 2px 0px; */
}

.mwInput.Checkbox.OFF,
.mwInput.Checkbox.YN {
	display			: inline-block; 
}

.mwInput.Checkbox.OFF DIV,
.mwInput.Checkbox.YN DIV,
.mwInput.Checkbox.Inline DIV {
	text-align		: center;
}

.mwInput.Checkbox DIV {
	width			: 20px; 
/*	height			: 100%; */	

	background-repeat	: no-repeat;
	background-color	: transparent;
	background-position	: center 2px;  
	
	text-align		: left;
	white-space		: nowrap;
}

.mwInput.Checkbox.OFF DIV,
.mwInput.Checkbox.YN DIV {
	width			: 40px; 
	padding-left		: 28px;
	background-position	: 2px 2px;  
}

.mwInput.Checkbox.full DIV,
.mwInput.Checkbox.Custom DIV {
	width			: auto;
	padding-left		: 31px;
	background-position	: 2px 2px; 
	text-align		: left;
}

.mwInput.Checkbox DIV {
/*	background-image	: url('/cms2t/res/images/forms/Unchecked.png'); */
}


.mwInput.Checkbox DIV.Checked {
	background-image	: url('../../cms2t/res/images/forms/Checked.png');
}

.mwInput.Checkbox.OFF DIV:after {
	content			: 'OFF';
}

.mwInput.Checkbox.OFF DIV.Checked:after {
	content			: 'ON';
}

.mwInput.Checkbox.YN DIV:after {
	content			: 'NO';
}

.mwInput.Checkbox.YN DIV.Checked:after {
	content			: 'YES';
}

.mwInput.Checkbox.full,
.mwInput.Checkbox.Custom {
	display			: block;
}

/* SELECT */

.mwInput.Select .SubControl {
	background-image	: url('../../cms2t/res/images/forms/UpDownSelector.png');
}

.mwInput.Select {
	overflow		: hidden;	
}

/* CHECKLIST and RADIOLIST */

.mwInput.RadioList,
.mwInput.CheckList,
.mwInput.List {
	padding			: 5px;
}

.mwInput.List .Items {
	overflow		: auto;
	height			: 100%;
}

.mwInput.List .Item {

	padding-bottom		: 3px;

	overflow		: hidden; 
	position		: relative;

	background		: url('../../cms2t/res/images/forms/hDivider.png') bottom repeat-x;

	cursor			: pointer;
}

.mwInput.List .Item {
	-webkit-transition	: height 0.2s ease-in-out;
	-moz-transition		: height 0.2s ease-in-out;
	-o-transition		: height 0.2s ease-in-out;
	-ms-transition		: height 0.2s ease-in-out;
	transition		: height 0.2s ease-in-out;
}

.mwInput.List .Item.head {
	font-weight		: bold;
	
	height			: 28px;
	line-height		: 28px;

	position		: relative;

	background		: url('../../cms2t/res/images/forms/hDivider.png') bottom repeat-x;
	
	padding-left		: 30px;
}

.mwInput.List .Item .GroupButton {

	position		: absolute;
	
	left			: 0px;

	width			: 28px;
	height			: 28px;
	
	background		: no-repeat center center transparent;
}

.mwInput.List .collapsed .GroupButton {
	background-image	: url('../../cms2t/res/images/forms/ButtonPlus.16x.png');
}

.mwInput.List .expanded .GroupButton {
	background-image	: url('../../cms2t/res/images/forms/ButtonMinus.16x.png');
}

.mwInput.List .collapsed .subItem {
	height			: 0px;
	padding			: 0px;
}

.mwInput.List .subItem {
	padding-left		: 30px;
}

.mwInput.List .Item .title {
	padding			: 4px 30px 4px 0px;
	line-height		: 20px;
}

.mwInput.List .Item .col {
	float			: right;
}

.mwInput.List .Item .icon {
	
	float			: left;
	
	width			: 24px;
	height			: 24px;
	
	margin			: 2px;
	margin-right		: 5px;

	background		: no-repeat scroll left center transparent;
}

.mwInput.List .Item.Focus,
.mwInput.List .Item:hover {
	text-shadow		: 0px 0px 2px #66FFAA;
}

.mwInput.List .Item .Selected {
	color			: #0B994E;

	background		: url('../../cms2t/res/images/forms/Checked.png') right center no-repeat transparent;
}

.mwInput.List .Item .Declined {
	color			: #FF5555;
	background		: url('../../cms2t/res/images/forms/Declined.png') right center no-repeat transparent;
}

/* COMMON MULTILINE HEIGHTS */

.mwDialog TEXTAREA,
.mwDialog SELECT[size],
.mwDialog SELECT[multiple="multiple"] {
	height			: 100%;
	resize			: none;
}

.Dialog TEXTAREA {
	resize			: none;
}

/*/
.mwDialog TEXTAREA,
.mwDialog SELECT[size],
.mwDialog SELECT[multiple="multiple"] {
	margin			: 5px 0px;
}

.mwDialog TEXTAREA.Short,
.mwDialog SELECT[multiple="multiple"].Short {
	height			: 50px;
}
/**/

.mwInput.Textarea,
.mwInput.Multiple {
	height			: 90px;
	padding			: 5px 5px;
}

.Tall .mwInput.Textarea,
DD .mwInput.Textarea,
.Tall .mwInput.Multiple,
DD .mwInput.Multiple {
	height			: 83px;
	padding			: 5px 5px;
}

.mwDialog TEXTAREA.Tiny {
	height			: 200px;
}

.mwDialog .mwInput.List {
	height			: 200px;
}

/* BUTTONS */

.mwInput.Button INPUT[type='image']{
/*	width			: 28px; */
	cursor			: pointer;

	margin			: 2px -3px;
}

.mwInput.Button {
	background		: #C8C8C8;
	background		: -moz-linear-gradient(top,  #C8C8C8 0%, #9B9B9B 100%);
	background		: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#C8C8C8), color-stop(100%,#9B9B9B));
	background		: -webkit-linear-gradient(top,  #C8C8C8 0%,#9B9B9B 100%);
	background		: -o-linear-gradient(top,  #C8C8C8 0%,#9B9B9B 100%);
	background		: -ms-linear-gradient(top,  #C8C8C8 0%,#9B9B9B 100%);
	background		: linear-gradient(top,  #C8C8C8 0%,#9B9B9B 100%);
	filter			: progid:DXImageTransform.Microsoft.gradient( startColorstr='#C8C8C8', endColorstr='#9B9B9B',GradientType=0 );

	display			: inline-block;
	
	cursor			: pointer;

	font-family		: mwCustom_normal, Arial, Veranda, Helvetica, sans-serif;

	font-weight		: normal;
	color			: white !important;
	
	text-decoration		: none;
	
	text-align		: center;
}

.mwInput.Button.full {
	display			: block;
}

.mwInput.Button.Hover {
	background		: #BABABA;
	background		: -moz-linear-gradient(top,  #BABABA 0%, #9E9E9E 100%);
	background		: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#BABABA), color-stop(100%,#9E9E9E));
	background		: -webkit-linear-gradient(top,  #BABABA 0%,#9E9E9E 100%);
	background		: -o-linear-gradient(top,  #BABABA 0%,#9E9E9E 100%);
	background		: -ms-linear-gradient(top,  #BABABA 0%,#9E9E9E 100%);
	background		: linear-gradient(top,  #BABABA 0%,#9E9E9E 100%);
	filter			: progid:DXImageTransform.Microsoft.gradient( startColorstr='#BABABA', endColorstr='#9E9E9E',GradientType=0 );
}

.mwInput.Button.Active {
	background		: #9E9E9E;
	background		: -moz-linear-gradient(top,  #9E9E9E 0%, #BABABA 100%);
	background		: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9E9E9E), color-stop(100%,#BABABA));
	background		: -webkit-linear-gradient(top,  #9E9E9E 0%,#BABABA 100%);
	background		: -o-linear-gradient(top,  #9E9E9E 0%,#BABABA 100%);
	background		: -ms-linear-gradient(top,  #9E9E9E 0%,#BABABA 100%);
	background		: linear-gradient(top,  #9E9E9E 0%,#BABABA 100%);
	filter			: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9E9E9E', endColorstr='#bababa',GradientType=0 );
}

.mwInput.Button.Hi {
	background		: #16cc68;
	background		: -moz-linear-gradient(top,  #16cc68 0%, #10934b 100%);
	background		: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#16cc68), color-stop(100%,#10934b));
	background		: -webkit-linear-gradient(top,  #16cc68 0%,#10934b 100%);
	background		: -o-linear-gradient(top,  #16cc68 0%,#10934b 100%);
	background		: -ms-linear-gradient(top,  #16cc68 0%,#10934b 100%);
	background		: linear-gradient(top,  #16cc68 0%,#10934b 100%);
	filter			: progid:DXImageTransform.Microsoft.gradient( startColorstr='#16cc68', endColorstr='#10934b',GradientType=0 );
}

.mwInput.Button.Hi.Hover {
	background		: #18dc70;
	background		: -moz-linear-gradient(top,  #18dc70 0%, #12a655 100%);
	background		: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#18dc70), color-stop(100%,#12a655));
	background		: -webkit-linear-gradient(top,  #18dc70 0%,#12a655 100%);
	background		: -o-linear-gradient(top,  #18dc70 0%,#12a655 100%);
	background		: -ms-linear-gradient(top,  #18dc70 0%,#12a655 100%);
	background		: linear-gradient(top,  #18dc70 0%,#12a655 100%);
	filter			: progid:DXImageTransform.Microsoft.gradient( startColorstr='#18dc70', endColorstr='#12a655',GradientType=0 );
}

.mwInput.Button.Hi.Active {
	background		: #12a655;
	background		: -moz-linear-gradient(top,  #12a655 0%, #18dc70 100%);
	background		: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#12a655), color-stop(100%,#18dc70));
	background		: -webkit-linear-gradient(top,  #12a655 0%,#18dc70 100%);
	background		: -o-linear-gradient(top,  #12a655 0%,#18dc70 100%);
	background		: -ms-linear-gradient(top,  #12a655 0%,#18dc70 100%);
	background		: linear-gradient(top,  #12a655 0%,#18dc70 100%);
	filter			: progid:DXImageTransform.Microsoft.gradient( startColorstr='#12a655', endColorstr='#18dc70',GradientType=0 );
}

.mwInput.Button.Red {
	background		: #f7999c;
	background		: -moz-linear-gradient(top,  #f7999c 0%, #e62427 100%);
	background		: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7999c), color-stop(100%,#e62427));
	background		: -webkit-linear-gradient(top,  #f7999c 0%,#e62427 100%);
	background		: -o-linear-gradient(top,  #f7999c 0%,#e62427 100%);
	background		: -ms-linear-gradient(top,  #f7999c 0%,#e62427 100%);
	background		: linear-gradient(top,  #f7999c 0%,#e62427 100%);
	filter			: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7999c', endColorstr='#e62427',GradientType=0 );
}

.mwInput.Button.Red.Hover {
	background		: #f8aaac;
	background		: -moz-linear-gradient(top,  #f8aaac 0%, #ea4a4c 100%);
	background		: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8aaac), color-stop(100%,#ea4a4c));
	background		: -webkit-linear-gradient(top,  #f8aaac 0%,#ea4a4c 100%);
	background		: -o-linear-gradient(top,  #f8aaac 0%,#ea4a4c 100%);
	background		: -ms-linear-gradient(top,  #f8aaac 0%,#ea4a4c 100%);
	background		: linear-gradient(top,  #f8aaac 0%,#ea4a4c 100%);
	filter			: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8aaac', endColorstr='#ea4a4c',GradientType=0 );
}

.mwInput.Button.Red.Active {
	background		: #e62427;
	background		: -moz-linear-gradient(top,  #e62427 0%, #f7999c 100%);
	background		: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e62427), color-stop(100%,#f7999c));
	background		: -webkit-linear-gradient(top,  #e62427 0%,#f7999c 100%);
	background		: -o-linear-gradient(top,  #e62427 0%,#f7999c 100%);
	background		: -ms-linear-gradient(top,  #e62427 0%,#f7999c 100%);
	background		: linear-gradient(top,  #e62427 0%,#f7999c 100%);
	filter			: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e62427', endColorstr='#f7999c',GradientType=0 );
}

.mwInput.Button INPUT[type="button"],
.mwInput.Button INPUT[type="submit"] {

	cursor			: pointer;

	color			: white !important;
	
	/* Can't use lineheight directly cuz of mozilla default styles */
	/* Instead using height with vertical align, which works same in all browsers */

	height			: 26px;

	/*	
	vertical-align		: middle;
	line-height		: normal;
	*/
	
	font-family		: mwCustom_normal, Arial, Veranda, Helvetica, sans-serif;

}

/* FILE */

.mwInput.File {
	position		: relative;
	cursor			: pointer;
	overflow		: hidden; 
/*/
	font-family		: mwCustom_normal, Arial, Veranda, Helvetica, sans-serif;
/**/
}

.mwInput.File .SubControl>DIV {
	background-image	: url('../../cms2t/res/images/forms/upload.png');
}

.mwInput.File .FileName {
	position		: absolute;
	top			: 0px;
	text-shadow		: 0px 0px 3px white;
} 

.mwInput.File .Num {
	
	font-family		: mwCustom_normal, Arial, Veranda, Helvetica, sans-serif;
	font-weight		: normal;
	
	color			: #66FFAA;
	text-shadow		: 0px 0px 2px black;

	font-size		: 19px;

	position		: absolute;

	right			: 33px;
	top			: 0px;
	
	padding-top		: 2px;

} 

.mwInput.File .Fill {
	position		: static;
	
	display			: none;
	float			: left;

	width			: 0%;
	height			: 100%;
	
	margin-left		: -6px;
	padding-left		: 6px;
	padding-right		: 6px;
/*/	
	border-radius		: 3px;
/**/
} 


.mwInput.File .Fill {
	-webkit-transition	: width 0.5s linear;
	-moz-transition		: width 0.5s linear;
	-o-transition		: width 0.5s linear;
	-ms-transition		: width 0.5s linear;
	transition		: width 0.5s linear;
}


/* DATE / TIME / Nums */

.mwInput.Num,
.mwInput.Num>INPUT, 
.mwInput.Date,
.mwInput.Date>INPUT, 
.mwInput.Time,
.mwInput.Time>SELECT,
.mwInput.Time>INPUT
{
	text-align: center;
}

/* CLOUDS */

.mwDialog .Cloud {
	width		: 100%;
	height		: 140px;
	border		: 1px solid black;
	overflow	: auto;
}

.mwDialog DIV.CloudItem {
	border		: 1px solid silver;
	float		: left;
	margin		: 2px;
	padding		: 3px;
}

.mwDialog DIV.CloudItem.Selected {
	border-color	: #FF8040;
}

.mwDialog SPAN.CloudItem {
	margin		: 5px;
}

.mwDialog SPAN.CloudItem.Selected {
	color		: #FF8000;
}

.mwDialog .CloudItem:hover {
	background-color: silver;
}

/* HINTS */

.mwDialog DT.Hint,
.mwDialog DD.Hint {
	padding-bottom		: 5px;
	text-align		: center;
	line-height		: normal;
}

.mwDialog .Hint TD {
	padding-top		: 0px;
	text-align		: center;
}

.mwDialog .Hint TH {
	padding			: 0px;
}

.mwDialog .Hint .warning {
	color			: red;
	font-weight		: bold;
}


/* GROUPS */

.mwDialog DIV.Group,
.mwDialog DD.Group,
.mwDialog DD.formGroup,
.mwDialog .Group TD {
	text-align		: left;
	padding			: 15px 0px 7px 100px;
/*	padding-left		: 100px;
	padding-bottom		: 15px; */

	background		: url('../../cms2t/res/images/forms/hDivider.png') center repeat-x;
	background-position	: 0px 29px; 
	
	height			: 28px;
	line-height		: 28px;
}

.mwDialog DIV.Group,
.mwDialog DD.formGroup,
.mwDialog DD.Group {
	margin-top		: 10px;
	padding-left		: 30px;
	
}

.mwDialog .formGroup DIV,
.mwDialog .Group DIV {
/*	float			: left; */
	display			: inline-block; 
	padding			: 0px 10px;
	
	margin			: 0px;
	
	background-color	: #E8E8E8;
	color			: #01AB52;

	font-family		: mwCustom_light, Arial, Veranda, Helvetica, sans-serif;
	font-weight		: normal;

	font-size		: 17px;
}

.mwDialog DD.formGroup DIV,
.mwDialog DD.Group DIV {
	padding			: 0px 10px;
}

.mwDialog.wide DD.formGroup {
	padding-left		: 100px;
}

.mwDialog DD.formGroup {
	clear			: both;
	float			: none;
	width			: auto;
}

.mwDialog DD.formGroup {
	margin-top		: 0px;
	padding-top		: 7px;

	background-position	: center center;
}

/* LOADER */

.mwFormSubmitRow {
}

.mwInput.Loader {
	display			: none;
	height			: 30px;
	background		: url('../images/loading11.gif') no-repeat center center transparent;
	border			: none;
}

.mwFormSubmitContainer {
	position		: relative;
}

.mwFormSubmit {
	
}

.mwFormLoader {
	display			: none;

	position		: absolute;
	top			: 0;
	bottom			: 0;
	left			: 0;
	right			: 0;

	background		: url('../images/loading11.gif') no-repeat center center transparent;
}

/* INSTRUCTIONS */

/* ---- Complex inputs ---- */

/* DIMENSIONS */

/* Dimensions inuts are 2 inputs within 1 cell, with X between */


.mwDialog .Dimensios .mwInput {
	width			: 30%;
	width			: calc(50% - 23.5px);
	float			: left;
}

.mwDialog .Dimensios .mwInput:first-child {
	margin-right		: 9.5px;
}

.mwDialog .Dimensios .mwInput:last-child {
	margin-left		: 9.5px;
}

.mwDialog .Dimensios .mwInput:first-child:after {
	content			: 'x';

	display			: inline-block; 
	float			: left; 

	position		: absolute;
	right			: -7.5px; 

	width			: 0px;
	height			: 28px;
	line-height		: 28px;
}
