.itemPriperties	{ width: 24px; height: 24px; display: inline-block; float: right; }

.newItem:hover .itemPriperties { background: url("../images/properties.png"); }

.newItem:hover .itemPriperties:hover { background: url("../images/properties_hover.png"); }

.editPoint, .deletePoint  {
	
	width: 20px;
	height: 18px;
	display: inline-block;
	background: url("../images/edit.png");
	margin: 0 0 0 5px;
	
}

.deletePoint {
	
	background: url("../images/delete.png"); 
	width: 18px;
	margin: 0 5px;
	 
}

#menuItems_new li a { padding-right: 0; }

#google_tools_panel .mwInput.Button input { font-size: 15px; }